<div class='page-content'>
  <h1 class ='page-title'>Merchants</h1>
  <h2 class ='page-intent'>Overview</h2>
  <p class ='page-element'>Merchants for review</p>
  <table>
    <tr class='header'>
      <th>Merchant Name</th>
      <th></th>
      <th></th>
    </tr>
    <%for merchant in @merchants%>
    <tr>
   <td value='<%=merchant.merchant_name_str%>'><%=merchant.merchant_name_str%></td>

   <td value='edit'><form action="/merchants/<%=merchant.id%>/edit" method="get">
     <input type="submit" value="Edit" />
  </form></td>
   <td value='delete'>
     <form action="/merchants/<%=merchant.id%>/delete" method="post">
       <input type="submit" value="Delete" />
    </form>
<%end%>
</tr>
  </table>
</div>
