
<div class='page-content'>
  <h1 class ='page-title'>Merchants</h1>
  <h2 class ='page-intent'>Create</h2>

  <hr/>
  <form method='post' action='/merchants'>
    <label for='merchant_name'>Merchant Name:</label>
    <input id='merchant_name' type='text' name='merchant_name_str'required />
    <input type='submit' value='Create Merchant'/>
    <input type='reset' value='Clear'/>
  </form>
</div>
