<div class='page-content'>
  <h1 class ='page-title'> Welcome to Rex</h1>
  <h2 class ='page-intent'>The expense tracker to save your finances from extinction</h2>
  <p class ='page-element'>Lorem ipsum yer da</p>
</div>
