<!DOCTYPE html>
<html>
<head>
  <title>Rex - Expense Tracker</title>
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/furious_styles.css">
</head>
<body>
  <header>
    <h1></
  </header>
  <nav>
    <ul class='mainnav'>
      <li class='mainnav-item'>
        <a href='/'>Home</a>
      </li>
      <li class='mainnav-item'>
        <a href='/transactions'>Transactions</a>
          <ul class='subnav'>
              <li class='subnav-item'>
                <a class ='sub-nav-link' href='/transactions/new'>Create Transaction</a>
              </li>
              <li class='subnav-item'>
                <a class ='sub-nav-link' href='/transactions'>View Transactions</a>
              </li>
          </ul>
      </li>
      <li class='mainnav-item'>
        <a href='/tags'>Tags</a>
        <ul class='subnav'>
            <li class='subnav-item'>
              <a class ='subnav-link' href='/tags/new'>Create Tag</a>
            </li>
            <li class='subnav-item'>
              <a class ='subnav-link' href='/tags'>View Tags</a>
            </li>
        </ul>
      </li>
      <li class='mainnav-item'>
          <a href='/merchants'>Merchants</a>
          <ul class='subnav'>
              <li class='subnav-item'>
                <a class ='subnav-link' href='/merchants/new'>Create Merchant</a>
              </li>
              <li class='subnav-item'>
                <a class ='subnav-link' href='/merchants'>View Merchants</a>
              </li>
          </ul>
      </li>

    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  <footer>
    <div class='quote'>
    
  </p id='footer-value'><%=@quote%></p>
    </div>
  </footer>
</body>
</html>
