<div id='content-page'>
<div class='page-content'>
  <h1 class ='page-title'>Tags</h1>
  <h2 class ='page-intent'>Create</h2>
  <p class ='page-element'>Create Tags</p>

  <hr/>
<form class 'creator' method='post' action='/tags'>
  <label for='tag_name'>Tag Name:</label>
  <input id='tag_name' type='text' name='tag_name_str'/>
  <label for='tag_budget'>Budget:</label>
  <input id='tag_budget' type='text' name='budget_num'/>
  <input type='submit' value='Create Tag'/>
  <input type='reset' value='Clear'/>
</form>
</div>
</div>
